@{
    ViewBag.Title = "TicketsStatistics";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>THỐNG KÊ VÉ</h2>
<section class="content-chart">
    <div class="bg-secondary rounded h-100 p-4">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <canvas id="bar-chart" width="200" height="700"></canvas>
    </div>
</section>

@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="~/Areas/Admin/Content/lib/chart/chart.min.js"></script>
    <script src="~/Areas/Admin/Content/lib/chart/moment.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(function () {
            var arrDate = [];
            var arrBanVe = [];
            $.ajax({
                url: '/Dashboard/GetStatisticalVe',
                type: 'GET',
                data: {},
                success: function (rs) {
                    $.each(rs.Data, function (i, item) {
                        var strDate = moment(item.Date).format('DD/MM/yyyy');
                        arrDate.push(strDate);
                        arrBanVe.push(item.BanVe);
                    });
                    var barChartData = {
                        labels: arrDate,
                        datasets: [
                            {
                                label: 'Doanh thu vé',
                                backgroundColor: '#ac171a',
                                borderColor: 'rgba(210, 214, 222, 1)',
                                pointRadius: false,
                                pointColor: 'rgba(210, 214, 222, 1)',
                                pointStrokeColor: '#c1c7d1',
                                pointHighlightFill: '#fff',
                                pointHighlightStroke: 'rgba(220,220,220,1)',
                                data: arrBanVe
                            },
                        ]
                    }
                    //-------------
                    //- BAR CHART -
                    //-------------
                    var barChartCanvas = document.getElementById('bar-chart').getContext('2d');
                    var barChartOptions = {
                        responsive: true,
                        maintainAspectRatio: false,
                        datasetFill: false
                    }
                    new Chart(barChartCanvas, {
                        type: 'bar',
                        data: barChartData,
                        options: barChartOptions
                    });
                    load_data2(rs.Data);
                }
            });
        });
        function load_data2(data) {
            var strHtml = "";
            $.each(data, function (i, item) {
                var strDate = moment(item.Date).format('DD/MM/yyyy');
                strHtml += "<tr>";
                strHtml += "<td>" + (i + 1) + "</td>";
                strHtml += "<td>" + strDate + "</td>";
                strHtml += "<td>" + item.BanVe + "</td>";
                strHtml += "</tr>";
            });
            $('#load_data2').html(strHtml);
        }
    </script>
}