USE [CinemaDB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 02/10/2023 17:09:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 02/10/2023 17:09:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 02/10/2023 17:09:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 02/10/2023 17:09:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 02/10/2023 17:09:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 02/10/2023 17:09:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Birthday] [date] NOT NULL,
	[Avatar] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BapNuoc]    Script Date: 02/10/2023 17:09:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BapNuoc](
	[MaMon] [int] IDENTITY(1,1) NOT NULL,
	[TenMon] [nvarchar](128) NULL,
	[GiaMon] [float] NULL,
	[MoTa] [nvarchar](500) NULL,
	[HinhAnhMon] [nvarchar](max) NULL,
 CONSTRAINT [PK_BapNuoc] PRIMARY KEY CLUSTERED 
(
	[MaMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_HoaDon]    Script Date: 02/10/2023 17:09:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_HoaDon](
	[MaHoaDon] [int] NOT NULL,
	[SoLuong] [int] NULL,
	[MaMon] [int] NOT NULL,
	[GiaMon] [float] NULL,
 CONSTRAINT [PK_CT_HoaDon_1] PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC,
	[MaMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ghe]    Script Date: 02/10/2023 17:09:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ghe](
	[MaGhe] [int] IDENTITY(1,1) NOT NULL,
	[Day] [nvarchar](5) NULL,
	[Cot] [int] NULL,
	[MaSuatChieu] [int] NULL,
	[TrangThai] [bit] NULL,
 CONSTRAINT [PK_Ghe] PRIMARY KEY CLUSTERED 
(
	[MaGhe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 02/10/2023 17:09:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHoaDon] [int] IDENTITY(1,1) NOT NULL,
	[NgayLap] [date] NULL,
	[TongTien] [float] NULL,
	[Id] [nvarchar](128) NULL,
	[Payment] [nvarchar](50) NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiPhim]    Script Date: 02/10/2023 17:09:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiPhim](
	[MaLoai] [int] IDENTITY(1,1) NOT NULL,
	[TenLoai] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_LoaiPhim] PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phim]    Script Date: 02/10/2023 17:09:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phim](
	[MaPhim] [nvarchar](10) NOT NULL,
	[TenPhim] [nvarchar](128) NOT NULL,
	[NgayKhoiChieu] [date] NOT NULL,
	[MaLoai] [int] NOT NULL,
	[DoiTuong] [nvarchar](50) NULL,
	[HinhAnh] [nvarchar](max) NULL,
	[MoTa] [nvarchar](500) NULL,
	[Trailer] [nvarchar](max) NULL,
	[TrangThai] [bit] NULL,
	[ThoiLuong] [int] NULL,
	[NgonNgu] [nvarchar](50) NULL,
 CONSTRAINT [PK_Phim] PRIMARY KEY CLUSTERED 
(
	[MaPhim] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhongChieu]    Script Date: 02/10/2023 17:09:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhongChieu](
	[MaPhong] [int] IDENTITY(1,1) NOT NULL,
	[TenPhong] [nvarchar](128) NULL,
 CONSTRAINT [PK_PhongChieu] PRIMARY KEY CLUSTERED 
(
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SuatChieu]    Script Date: 02/10/2023 17:09:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SuatChieu](
	[MaSuatChieu] [int] IDENTITY(1,1) NOT NULL,
	[GioBatDau] [time](0) NULL,
	[GioKetThuc] [time](0) NULL,
	[NgayChieu] [date] NULL,
	[MaPhim] [nvarchar](10) NOT NULL,
	[MaPhong] [int] NOT NULL,
 CONSTRAINT [PK_SuatChieu] PRIMARY KEY CLUSTERED 
(
	[MaSuatChieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ve]    Script Date: 02/10/2023 17:09:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ve](
	[MaVe] [int] IDENTITY(1,1) NOT NULL,
	[MaGhe] [int] NULL,
	[MaSuatChieu] [int] NOT NULL,
	[GiaVe] [float] NULL,
	[MaHoaDon] [int] NOT NULL,
 CONSTRAINT [PK_Ve] PRIMARY KEY CLUSTERED 
(
	[MaVe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'1', N'Master')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'2', N'Admin')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'3', N'Member')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'1bc90ed2-5629-4edd-a4e7-2d59a3b4444e', N'3')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'3173bb77-e5b6-44a6-ac77-684271bfa1b9', N'3')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'5828b966-1638-43a0-b518-37e9e92a6cbc', N'2')
GO
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [Name], [Birthday], [Avatar]) VALUES (N'3173bb77-e5b6-44a6-ac77-684271bfa1b9', N'usertest3@gmail.com', 1, N'AD3y9GkyquxJlhynGitGMrgcVKBIX+KrZHVPO1HpakgoXwEw6+uuQNDp8C785Wodnw==', N'335f656f-5e2f-40a9-aa53-a5b92de5f6fd', N'0133333333', 0, 0, NULL, 1, 0, N'usertest3@gmail.com', N'User Test 3', CAST(N'2000-05-22' AS Date), N'/Content/images/authenticate/blankavatar.jpg')
GO
SET IDENTITY_INSERT [dbo].[BapNuoc] ON 

INSERT [dbo].[BapNuoc] ([MaMon], [TenMon], [GiaMon], [MoTa], [HinhAnhMon]) VALUES (1, N'Bắp Ngọt', 45000, N'Loại bắp này có vị ngọt tự nhiên và giòn rụm. Hạt bắp được chế biến cẩn thận để tạo ra một món ăn thơm ngon nhẹ nhàng nhưng vẫn đầy hương vị.', N'/Content/images/foodndrink/BapNgot.png')
INSERT [dbo].[BapNuoc] ([MaMon], [TenMon], [GiaMon], [MoTa], [HinhAnhMon]) VALUES (2, N'Bắp vị Phô Mai', 55000, N'Loại bắp này được phủ một lớp phô mai tạo nên hương vị đậm đà, hấp dẫn. Kết hợp giữa vị béo của phô mai và vị giòn của bắp, tạo nên một trải nghiệm thú vị cho người thưởng thức.', N'/Content/images/foodndrink/BapPhoMai.png')
INSERT [dbo].[BapNuoc] ([MaMon], [TenMon], [GiaMon], [MoTa], [HinhAnhMon]) VALUES (3, N'Bắp vị Caramel', 55000, N'Bắp vị Caramel là một loại bắp ngọt ngào và hấp dẫn. Hạt bắp giòn rụm được phủ một lớp Caramel béo ngậy, tạo nên một hương vị đậm đà và vị ngọt ngào tràn đầy trong miệng.', N'/Content/images/foodndrink/BapCaramel.png')
SET IDENTITY_INSERT [dbo].[BapNuoc] OFF
GO
INSERT [dbo].[CT_HoaDon] ([MaHoaDon], [SoLuong], [MaMon], [GiaMon]) VALUES (50, 1, 2, 55000)
INSERT [dbo].[CT_HoaDon] ([MaHoaDon], [SoLuong], [MaMon], [GiaMon]) VALUES (50, 1, 3, 55000)
INSERT [dbo].[CT_HoaDon] ([MaHoaDon], [SoLuong], [MaMon], [GiaMon]) VALUES (50, 1, 6, 25000)
GO
SET IDENTITY_INSERT [dbo].[Ghe] ON 

INSERT [dbo].[Ghe] ([MaGhe], [Day], [Cot], [MaSuatChieu], [TrangThai]) VALUES (907, N'A', 1, 27, 0)
INSERT [dbo].[Ghe] ([MaGhe], [Day], [Cot], [MaSuatChieu], [TrangThai]) VALUES (908, N'A', 2, 27, 0)
INSERT [dbo].[Ghe] ([MaGhe], [Day], [Cot], [MaSuatChieu], [TrangThai]) VALUES (909, N'A', 3, 27, 0)
GO
SET IDENTITY_INSERT [dbo].[Ghe] OFF
GO
SET IDENTITY_INSERT [dbo].[HoaDon] ON 

INSERT [dbo].[HoaDon] ([MaHoaDon], [NgayLap], [TongTien], [Id], [Payment]) VALUES (50, CAST(N'2023-05-26' AS Date), 580000, N'abae938a-ea56-4e05-98d7-443e32465912', NULL)
INSERT [dbo].[HoaDon] ([MaHoaDon], [NgayLap], [TongTien], [Id], [Payment]) VALUES (51, CAST(N'2023-05-26' AS Date), 295000, N'71e023f9-3e1d-4770-b8d8-aae0e833ee83', NULL)
INSERT [dbo].[HoaDon] ([MaHoaDon], [NgayLap], [TongTien], [Id], [Payment]) VALUES (52, CAST(N'2023-05-26' AS Date), 200000, N'989143b7-7b61-41ac-a76b-eb72ac6e1b9b', NULL)
SET IDENTITY_INSERT [dbo].[HoaDon] OFF
GO
SET IDENTITY_INSERT [dbo].[LoaiPhim] ON 

INSERT [dbo].[LoaiPhim] ([MaLoai], [TenLoai]) VALUES (1, N'Phim Hài')
INSERT [dbo].[LoaiPhim] ([MaLoai], [TenLoai]) VALUES (2, N'Phim Kinh Dị')
INSERT [dbo].[LoaiPhim] ([MaLoai], [TenLoai]) VALUES (3, N'Phim Tình Cảm')
SET IDENTITY_INSERT [dbo].[LoaiPhim] OFF
GO
SET IDENTITY_INSERT [dbo].[PhongChieu] ON 

INSERT [dbo].[PhongChieu] ([MaPhong], [TenPhong]) VALUES (1, N'Rạp 01')
INSERT [dbo].[PhongChieu] ([MaPhong], [TenPhong]) VALUES (2, N'Rạp 02')
INSERT [dbo].[PhongChieu] ([MaPhong], [TenPhong]) VALUES (3, N'Rạp 03')
SET IDENTITY_INSERT [dbo].[PhongChieu] OFF
GO
SET IDENTITY_INSERT [dbo].[SuatChieu] ON 

INSERT [dbo].[SuatChieu] ([MaSuatChieu], [GioBatDau], [GioKetThuc], [NgayChieu], [MaPhim], [MaPhong]) VALUES (27, CAST(N'09:00:00' AS Time), CAST(N'11:00:00' AS Time), CAST(N'2023-05-26' AS Date), N'MV01', 1)
INSERT [dbo].[SuatChieu] ([MaSuatChieu], [GioBatDau], [GioKetThuc], [NgayChieu], [MaPhim], [MaPhong]) VALUES (28, CAST(N'12:00:00' AS Time), CAST(N'14:00:00' AS Time), CAST(N'2023-05-26' AS Date), N'MV02', 2)
INSERT [dbo].[SuatChieu] ([MaSuatChieu], [GioBatDau], [GioKetThuc], [NgayChieu], [MaPhim], [MaPhong]) VALUES (29, CAST(N'12:00:00' AS Time), CAST(N'14:00:00' AS Time), CAST(N'2023-05-26' AS Date), N'MV07', 3)
SET IDENTITY_INSERT [dbo].[SuatChieu] OFF
GO
SET IDENTITY_INSERT [dbo].[Ve] ON 

INSERT [dbo].[Ve] ([MaVe], [MaGhe], [MaSuatChieu], [GiaVe], [MaHoaDon]) VALUES (43, 1030, 29, 100000, 50)
INSERT [dbo].[Ve] ([MaVe], [MaGhe], [MaSuatChieu], [GiaVe], [MaHoaDon]) VALUES (44, 1031, 29, 100000, 50)
INSERT [dbo].[Ve] ([MaVe], [MaGhe], [MaSuatChieu], [GiaVe], [MaHoaDon]) VALUES (45, 1032, 29, 100000, 50)
GO
SET IDENTITY_INSERT [dbo].[Ve] OFF
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  CONSTRAINT [DF__AspNetUser__Name__4D94879B]  DEFAULT ('') FOR [Name]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  CONSTRAINT [DF__AspNetUse__Birth__4E88ABD4]  DEFAULT ('1900-01-01T00:00:00.000') FOR [Birthday]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[CT_HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_CT_HoaDon_BapNuoc1] FOREIGN KEY([MaMon])
REFERENCES [dbo].[BapNuoc] ([MaMon])
GO
ALTER TABLE [dbo].[CT_HoaDon] CHECK CONSTRAINT [FK_CT_HoaDon_BapNuoc1]
GO
ALTER TABLE [dbo].[CT_HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_CT_HoaDon_HoaDon1] FOREIGN KEY([MaHoaDon])
REFERENCES [dbo].[HoaDon] ([MaHoaDon])
GO
ALTER TABLE [dbo].[CT_HoaDon] CHECK CONSTRAINT [FK_CT_HoaDon_HoaDon1]
GO
ALTER TABLE [dbo].[Ghe]  WITH CHECK ADD  CONSTRAINT [FK_Ghe_SuatChieu] FOREIGN KEY([MaSuatChieu])
REFERENCES [dbo].[SuatChieu] ([MaSuatChieu])
GO
ALTER TABLE [dbo].[Ghe] CHECK CONSTRAINT [FK_Ghe_SuatChieu]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_AspNetUsers] FOREIGN KEY([Id])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_AspNetUsers]
GO
ALTER TABLE [dbo].[Phim]  WITH CHECK ADD  CONSTRAINT [FK_Phim_LoaiPhim1] FOREIGN KEY([MaLoai])
REFERENCES [dbo].[LoaiPhim] ([MaLoai])
GO
ALTER TABLE [dbo].[Phim] CHECK CONSTRAINT [FK_Phim_LoaiPhim1]
GO
ALTER TABLE [dbo].[SuatChieu]  WITH CHECK ADD  CONSTRAINT [FK_SuatChieu_Phim] FOREIGN KEY([MaPhim])
REFERENCES [dbo].[Phim] ([MaPhim])
GO
ALTER TABLE [dbo].[SuatChieu] CHECK CONSTRAINT [FK_SuatChieu_Phim]
GO
ALTER TABLE [dbo].[SuatChieu]  WITH CHECK ADD  CONSTRAINT [FK_SuatChieu_PhongChieu] FOREIGN KEY([MaPhong])
REFERENCES [dbo].[PhongChieu] ([MaPhong])
GO
ALTER TABLE [dbo].[SuatChieu] CHECK CONSTRAINT [FK_SuatChieu_PhongChieu]
GO
ALTER TABLE [dbo].[Ve]  WITH CHECK ADD  CONSTRAINT [FK_Ve_HoaDon] FOREIGN KEY([MaHoaDon])
REFERENCES [dbo].[HoaDon] ([MaHoaDon])
GO
ALTER TABLE [dbo].[Ve] CHECK CONSTRAINT [FK_Ve_HoaDon]
GO
ALTER TABLE [dbo].[Ve]  WITH CHECK ADD  CONSTRAINT [FK_Ve_SuatChieu1] FOREIGN KEY([MaSuatChieu])
REFERENCES [dbo].[SuatChieu] ([MaSuatChieu])
GO
ALTER TABLE [dbo].[Ve] CHECK CONSTRAINT [FK_Ve_SuatChieu1]
GO
