@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
    background-color: #242333;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
    height: 95vh;
    font-family: 'Ubuntu', sans-serif;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}



.screen {
    background-color: #fff;
    height: 70px;
    width: 100%;
    margin: 15px 0;
    transform: rotateX(-45deg); 
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.75);
}

.row {
    display: flex;
}


.btn {
    border: 2px solid black;
    background-color: transparent;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
    font-weight: bold;
}

/* Red */
.danger {
    border-color: #dc3545;
    color: #dc3545
}

    .danger:hover {
        background: #dc3545;
        color: white;
    }


.checkbox-label {
    display: inline-flex;
    align-items: center;
    margin-right: 20px;
}

.checkboxseat {
    appearance: none;
    -webkit-appearance: none;
    width: 50px;
    height: 50px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    background-color: #444451;
}

    .checkboxseat:hover {
        cursor: pointer;
    }

    .checkboxseat:checked {
        background-color: white;
        color: black;
    }

    .checkboxseat::before {
        content: attr(data-label);
        display: inline-block;
        border-radius: 2px;
        font-size: 15px;
        font-weight: bold;
        text-align: center;
        color: white;
    }

    .checkboxseat:checked::before {
        background-color: white;
        content: attr(data-label);
        color: black;
        font-size: 15px;
        font-weight: bold;
        text-align: center;
        line-height: 20px;
    }