@{
    ViewBag.Title = "Contact";
}

<div class="container-fluid px-5 my-5" style="min-height: 75.9vh">
    <div class="row justify-content-center">
        <div class="col-xl-10">
            <div class="card border-0 rounded-3 shadow-lg overflow-hidden">
                <div class="card-body p-0">
                    <div class="row g-0">
                        <div class="col-sm-6 d-none d-sm-block bg-image">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.420594935522!2d106.78252777573663!3d10.855580057727272!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175276e7ea103df%3A0xb6cf10bb7d719327!2sThu%20Duc%20Campus%20Hutech%20khu%20E!5e0!3m2!1svi!2s!4v1685019982849!5m2!1svi!2s" style="border:0; width: 100%; height: 100%" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                        <div class="col-sm-6 p-4">
                            <div class="text-center">
                                <div class="h3 fw-light">LIÊN HỆ</div>
                                <p class="mb-4 text-muted">Liên hệ với chúng tôi!</p>
                            </div>
                            <form id="contactForm" data-sb-form-api-token="API_TOKEN">
                                <div class="form-floating mb-3">
                                    <input class="form-control" id="name" type="text" placeholder="Họ và Tên" data-sb-validations="required" />
                                    <label for="name">Họ và Tên</label>
                                    <div class="invalid-feedback" data-sb-feedback="name:required">Vui lòng điền Họ và Tên.</div>
                                </div>
                                <div class="form-floating mb-3">
                                    <input class="form-control" id="emailAddress" type="email" placeholder="Địa chỉ Email" data-sb-validations="required,email" />
                                    <label for="emailAddress">Địa chỉ Email</label>
                                    <div class="invalid-feedback" data-sb-feedback="emailAddress:required">Vui lòng điền địa chỉ Email.</div>
                                    <div class="invalid-feedback" data-sb-feedback="emailAddress:email">Địa chỉ Email không tồn tại.</div>
                                </div>
                                <div class="form-floating mb-3">
                                    <textarea class="form-control" id="message" type="text" placeholder="Tin nhắn" style="height: 10rem;" data-sb-validations="required"></textarea>
                                    <label for="message">Tin nhắn</label>
                                    <div class="invalid-feedback" data-sb-feedback="message:required">Vui lòng điền lời nhắn.</div>
                                </div>

                                <!-- Submit success message -->
                                <div class="d-none" id="submitSuccessMessage">
                                    <div class="text-center mb-3">
                                        <div class="fw-bolder">Gửi tin nhắn thành công!</div>
                                    </div>
                                </div>

                                <!-- Submit error message -->
                                <div class="d-none" id="submitErrorMessage">
                                    <div class="text-center text-danger mb-3">Lỗi gửi tin nhắn!</div>
                                </div>

                                <!-- Submit button -->
                                <div class="d-grid">
                                    <button class="btn btn-primary btn-lg disabled" id="submitButton" type="submit">Gửi</button>
                                </div>
                            </form>
                            <!-- End of contact form -->

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
