
@{
    Layout = null;
}

<head>
    <link href="~/Content/css/seatstyle.css" rel="stylesheet">
</head>
<body>

@*    <label class="checkbox">
        <input type="checkbox">
        <span class="checkmark">Ghế A1</span>
    </label>
    <label class="checkbox">
        <input type="checkbox">
        <span class="checkmark">Ghế A1</span>
    </label>*@
</body>