
@{
    Layout = null;
}

<head>
    <link href="~/Content/css/seatstyle.css" rel="stylesheet">
</head>
<body>
    <div class="header">
        <h1 style="color: #dc3545   ">Vệ binh giải ngân hà 3</h1>
        <h4>Ngày chiếu: 10/05/2023 - Suất chiếu 18:00 - Rạp 04</h4>
    </div>
    <div class="screen" style="width: 620px; margin-bottom: 70px"><h1 style="color: black; font-size: 30px; text-align: center">SCREEN</h1></div>
    <div class="row" style="margin-bottom: 70px; margin-left: 13px">
        <label class="checkbox-label">
            <input type="checkbox">
            <span><p></p></span>
        </label>
        <label class="checkbox-label">
            <input type="checkbox">
            <span><p></p></span>
        </label>
        <label class="checkbox-label">
            <input type="checkbox">
            <span><p></p></span>
        </label>
        <label class="checkbox-label">
            <input type="checkbox">
            <span><p></p></span>
        </label>
        <label class="checkbox-label">
            <input type="checkbox">
            <span><p></p></span>
        </label>
        <label class="checkbox-label">
            <input type="checkbox">
            <span><p></p></span>
        </label>
        <label class="checkbox-label">
            <input type="checkbox">
            <span><p></p></span>
        </label>
        <label class="checkbox-label">
            <input type="checkbox">
            <span><p></p></span>
        </label>
        <label class="checkbox-label">
            <input type="checkbox">
            <span><p></p></span>
        </label>
        <label class="checkbox-label">
            <input type="checkbox">
            <span><p></p></span>
        </label>
    </div>

    <div class="row" style="margin-bottom: 70px; margin-left: 13px">
        <label class="checkbox-label">
            <input type="checkbox">
            <span><p></p></span>
        </label>
        <label class="checkbox-label">
            <input type="checkbox">
            <span><p></p></span>
        </label>
        <label class="checkbox-label">
            <input type="checkbox">
            <span><p></p></span>
        </label>
        <label class="checkbox-label">
            <input type="checkbox">
            <span><p></p></span>
        </label>
        <label class="checkbox-label">
            <input type="checkbox">
            <span><p></p></span>
        </label>
        <label class="checkbox-label">
            <input type="checkbox">
            <span><p></p></span>
        </label>
        <label class="checkbox-label">
            <input type="checkbox">
            <span><p></p></span>
        </label>
        <label class="checkbox-label">
            <input type="checkbox">
            <span><p></p></span>
        </label>
        <label class="checkbox-label">
            <input type="checkbox">
            <span><p></p></span>
        </label>
        <label class="checkbox-label">
            <input type="checkbox">
            <span><p></p></span>
        </label>
    </div>

    <div class="row" style="margin-bottom: 70px; margin-left: 13px">
        <label class="checkbox-label">
            <input type="checkbox">
            <span><p></p></span>
        </label>
        <label class="checkbox-label">
            <input type="checkbox">
            <span><p></p></span>
        </label>
        <label class="checkbox-label">
            <input type="checkbox">
            <span><p></p></span>
        </label>
        <label class="checkbox-label">
            <input type="checkbox">
            <span><p></p></span>
        </label>
        <label class="checkbox-label">
            <input type="checkbox">
            <span><p></p></span>
        </label>
        <label class="checkbox-label">
            <input type="checkbox">
            <span><p></p></span>
        </label>
        <label class="checkbox-label">
            <input type="checkbox">
            <span><p></p></span>
        </label>
        <label class="checkbox-label">
            <input type="checkbox">
            <span><p></p></span>
        </label>
        <label class="checkbox-label">
            <input type="checkbox">
            <span><p></p></span>
        </label>
        <label class="checkbox-label">
            <input type="checkbox">
            <span><p></p></span>
        </label>
    </div>

    <div class="row" style="margin-bottom: 70px; margin-left: 13px">
        <label class="checkbox-label">
            <input type="checkbox">
            <span><p></p></span>
        </label>
        <label class="checkbox-label">
            <input type="checkbox">
            <span><p></p></span>
        </label>
        <label class="checkbox-label">
            <input type="checkbox">
            <span><p></p></span>
        </label>
        <label class="checkbox-label">
            <input type="checkbox">
            <span><p></p></span>
        </label>
        <label class="checkbox-label">
            <input type="checkbox">
            <span><p></p></span>
        </label>
        <label class="checkbox-label">
            <input type="checkbox">
            <span><p></p></span>
        </label>
        <label class="checkbox-label">
            <input type="checkbox">
            <span><p></p></span>
        </label>
        <label class="checkbox-label">
            <input type="checkbox">
            <span><p></p></span>
        </label>
        <label class="checkbox-label">
            <input type="checkbox">
            <span><p></p></span>
        </label>
        <label class="checkbox-label">
            <input type="checkbox">
            <span><p></p></span>
        </label>
    </div>

    <div class="row" style="margin-bottom: 70px; margin-left: 13px">
        <label class="checkbox-label">
            <input type="checkbox">
            <span><p></p></span>
        </label>
        <label class="checkbox-label">
            <input type="checkbox">
            <span><p></p></span>
        </label>
        <label class="checkbox-label">
            <input type="checkbox">
            <span><p></p></span>
        </label>
        <label class="checkbox-label">
            <input type="checkbox">
            <span><p></p></span>
        </label>
        <label class="checkbox-label">
            <input type="checkbox">
            <span><p></p></span>
        </label>
        <label class="checkbox-label">
            <input type="checkbox">
            <span><p></p></span>
        </label>
        <label class="checkbox-label">
            <input type="checkbox">
            <span><p></p></span>
        </label>
        <label class="checkbox-label">
            <input type="checkbox">
            <span><p></p></span>
        </label>
        <label class="checkbox-label">
            <input type="checkbox">
            <span><p></p></span>
        </label>
        <label class="checkbox-label">
            <input type="checkbox">
            <span><p></p></span>
        </label>
    </div>

    <div>
        <a href="#" style="margin-right: 30px">Hủy</a>
        <input type="submit" value="Thanh toán" class="btn danger" />
    </div>

    <div class="footer">
        <div class="row" style="margin-bottom: 70px; margin-left: 13px">
            <label class="checkbox-label">
                <input type="checkbox" disabled>
                <span><p></p></span>
            </label>
            <span style="margin: 18px 50px 0 0">Ghế trống</span>

            <label class="checkbox-label">
                <input type="checkbox" checked disabled>
                <span><p></p></span>
            </label>
            <span style="margin: 18px 50px 0 0">Ghế đang chọn</span>

            <label class="checkbox-label">
                <input type="checkbox" disabled>
                <span style="background-color: white"></span>
            </label>
            <span style="margin: 18px 50px 0 0">Ghế đã chọn</span>
        </div>
    </div>
</body>