@{
    ViewBag.Title = "Email xác thực đã được gửi";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>

</head>
<body onload="showSwal('success-message')">
    <script>
        (function ($) {
            showSwal = function (type) {
                'use strict';
                if (type === 'success-message') {
                    swal({
                        title: 'Email xác thực đã được gửi!',
                        text: 'Vui lòng kiểm tra Email để xác thực tài khoản.',
                        type: 'success',
                        button: {
                            text: "OK",
                            value: true,
                            visible: true,
                            className: "btn btn-primary"
                        }
                    }, function (isConfirm) {
                        if (isConfirm) {
                            window.location.href = "/Home/Index";
                        }
                    });
                } else {
                    swal("Error occured !");
                }
            }
        })(jQuery);
    </script>
</body>
</html>
